div{
	text-align: center;
}

Body{
	font-family: Times New Roman, sans-serif;
	background-image: url("body_back.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
input[type=submit]{
	background-color: #3045c9;
	width: 100px;
	color: white;
	padding: 10px 0px;
	border: none;
}

input[type=text], input[type=number], input[type=month] {   
	width: 60%;   
	margin: 8px 0;  
	padding: 12px 20px;   
	display: inline-block;   
	border: 2px;   
	box-sizing: border-box;   
}  
input[type=password] {   
	width: 30%;   
	margin: 8px 0;  
	padding: 12px 20px;   
	display: inline-block;   
	border: 2px;   
	box-sizing: border-box; 
}
   
input[type=submit]:hover {   
	opacity: 0.7;   
}   

.container {   
	margin: auto;
	width: 25%;
	padding: 25px;   
	background-color: lightblue;
	opacity: 0.7;
}   